@import "../../../style/variables.module.scss";

.wrapper {
  width: 100%;
  padding: 5px;

  .footer {
    background-color: $greenBg;
    border-radius: 8px;
    height: 100%;
    color: $white;

    &Top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 5px;
      gap: 30px;
    }
  }
}
