@import "../../../../style/variables.module.scss";
@import "../../../../style/mixins.scss";

.head {
  &Section {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    color: $greyText;
    font-size: $textMedium;

    &Author {
      padding-right: 2px;
      position: relative;
      @include animatedHover($green);

      &Icon {
        font-size: 1.4rem;
        position: relative;
        top: -6px;
        left: -4px;
      }
    }
    &Date {
    }

    @media screen and (max-width: $sizeMB) {
      gap: 5px;
      flex-direction: column;
    }
  }
}

// .headSectionAuthor::after {
//   content: "";
//   position: absolute;
//   width: 72%;
//   height: 2px;
//   background-color: $line;
//   bottom: 0;
//   left: -6px;
//   transform: scaleX(0);
//   transform-origin: bottom right;
//   transition: transform 0.3s ease-out;
// }

// .headSectionAuthor:hover::after {
//   transform: scaleX(1);
//   transform-origin: bottom left;
// }
