@import "../../../../style/mixins.scss";
@import "../../../../style/variables.module.scss";
.main {
  max-width: 800px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: auto;

  &Item {
    a {
      position: relative;
      @include animatedHover($greyHover);
    }
  }
}
