@import "../../../../style/variables.module.scss";
@import "../../../../style/mixins.scss";

.policy {
  display: flex;
  font-size: $textMedium;
  flex-wrap: wrap;
  gap: 40px;

  &Item {
    text-align: center;
    position: relative;
    @include animatedHover($greyHover);
  }

  @media screen and (max-width: $sizeMB) {
    gap: 0;
    flex-direction: column;
    &Item {
      text-align: start;
    }
  }
}
