@import "../../../../style/variables.module.scss";
@import "../../../../style/mixins.scss";

.policy {
  display: flex;
  gap: 40px;

  &Item {
    text-align: center;
    position: relative;
    @include animatedHover($greyHover);
  }
}
