@import "../../../style/variables.module.scss";

.noCandidates {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: $greyText;

  &Icon {
    animation: moveSmiley 0.7s forwards;
    font-size: 2rem;
    path {
      fill: currentColor;
    }
  }

  &Text {
  }
}

@keyframes moveSmiley {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
