// @import '../../style/variables.scss';
@import "../../../style/variables.module.scss";

.mainWrapper {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid $line;
  color: $greyText;
  font-size: $textMedium;

  position: fixed;
  z-index: 2;
  width: 100%;
  height: $headerHeight;

  .btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
    height: 100%;
    // width: 100%;

    &:hover {
      background-color: $greyHover;
    }

    img {
      width: 30px;
      height: auto;
    }

    .btnTitle {
      text-align: center;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  @media (max-width: 500px) {
    justify-content: space-between;
  }
}
