@import "../../../../style/variables.module.scss";
@import "../../../../style/mixins.scss";

.mainWrapper {
  padding-top: 10px;
  width: 100%;
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid $line;
    border-radius: 5px;

    .top {
      padding: 10px;
      background-color: $grey;
      display: flex;
      color: $greyText;
      justify-content: space-between;
      align-items: flex-end;
      .photoAndName {
        display: flex;
        align-items: center;
        gap: 10px;
        &Photo {
          border-radius: 50%;
        }
        &Name {
          padding: 0 5px;
          position: relative;
          @include animatedHover($line);
        }
      }
      .date {
        font-size: $textSmall;
        padding: 0 10px;
        text-transform: lowercase;
      }
    }

    .bottom {
      padding: 1rem 2rem;
    }
  }
}
