@import "@/style/variables.module.scss";

.burgerWrapper {
//   position: relative;
    
    .burgerContainer{
        
        .list {
            position: fixed;
            top: 53px;
            left: 1px;
            z-index: 2;
            background: $grey;
            border-radius: 2px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(7.8px);
            -webkit-backdrop-filter: blur(7.8px);
            // border: 1px solid rgba(255, 255, 255, 0.21);
            .listItem {
                padding: 15px 35px;
                cursor: pointer;

                &:hover {
                    background:$greyText
                }

            }
        }
        .languagelist {
            position: fixed;
            top: 101px;
            left: 180px;
            z-index: 3;
            background: $grey;
            border-radius: 2px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(7.8px);
            -webkit-backdrop-filter: blur(7.8px);
            border: 1px solid $greyText;
            .listItem {
                padding: 15px 35px;
                cursor: pointer;
            }
        }
    }
}
