// @import '../../../style/variables.scss';
@import "../../../style/variables.module.scss";

.mainWrapper {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-width: 450px;
    margin-bottom: 1rem;

    .titleAndDescription {
      padding: 20px 0 0 5px;
      text-align: center;
      text-transform: uppercase;

      p {
        color: $greyText;
        font-size: $textSmall;
      }
    }
    .formEl {
      width: 100%;
      .inputsWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;

        .btnWrapper {
          display: flex;
          justify-content: center;
          padding-top: 20px;
          width: 100%;

          &Btn {
            width: 50%;
          }
        }
        .disabledBtn {
          color: $grey;
          &:hover {
            color: $greyHover;
          }
        }
      }
    }
    .or {
      text-align: center;
      color: $greyText;
      margin-bottom: 20px;
    }
    .socialsBtns {
      margin-bottom: 20px;
    }
    .dontHaveAccoutn {
      text-align: center;
      text-decoration: none;
      color: $green;
      margin-bottom: 5px;

      &Desc {
        text-align: center;
        font-size: 0.8rem;
        color: $greyText;
      }
    }
    
  }
}

.forgotPass {
  display: flex;
  justify-content: flex-end;
  color: $green;
}
