@import "../../../../style/variables.module.scss";
@import "../../../../style/mixins.scss";

.languages {
  font-size: $textSmall;

  &Item {
    margin-bottom: 5px;
    text-align: center;
    transition: color 0.3s ease;

    &:hover {
      color: $greyHover;
    }


    @media screen and (max-width: $sizeTB) {
      text-align: start;
    }
  }
}



