@import "../../../style/variables.module.scss";

.mainWrapper {
  display: flex;
  padding-top: 1rem;

  .desriptiom {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 0.9rem;
    font-weight: 300;
    color: $greyText;
  }
  .dateWrapper {
    input {
      // width: 100%;
      color: $greyText;
      text-align: center;
      padding: 10px 0px;
      border: 2px solid $line; /* Толщина рамки и цвет */
      border-radius: 10px;

      &:focus {
        border-color: $green; /* Цвет рамки при фокусе */
        outline: none; /* Убираем внешний контур при фокусе */
      }
    }


    .errorWrapper {
      position: relative;
    }
  }
}
