@import "../../../../style/variables.module.scss";

.info {
  font-size: $textMedium;
  color: $greyText;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (max-width: $sizeMB) {
    flex-direction: column;
    gap: 12px;
  }

  &Item {
    display: flex;
    align-items: center;
    gap: 5px;

    &:last-child {
      color: $green;
    }

    &Icon {
      fill: currentColor;
      position: relative;
      top: -2px;
      font-size: 1.1rem;
      &Date {
        font-size: 1rem;
      }
      &Location {
        position: relative;
        font-size: 1rem;
      }
      &Worth {
        position: relative;
        top: -1px;
        font-size: 1.2rem;
      }
    }
    &Text {
    }
  }
}
