@import "../../../../style/variables.module.scss";

.socialAuthWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;

  .btn {
    color: $greyText;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px 30px;
    border-radius: 30px;
    gap: 7px;
    cursor: pointer;
    border: 1px solid $grey;
    width: 270px;
    min-height: 48px;

    &:hover {
      color: $blackText;
      background-color: $white;
    }

    .btnImg {
      width: 25px; /* Задаете нужную ширину */
      height: auto; /* Автоматический расчет высоты для сохранения пропорций */
    }
    .btnTxet {
    }
  }
}
