@import "../../style/variables.module.scss";

// @import "@/style/variables.module.scss";

.btnWrapper {
  padding: 7px 17px;
  border: 2px solid $green;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 1.1rem;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:active {
    background-color: $green;
  }
}

.btnText {
  min-width: 10px;
  text-align: center;
  width: 100%;

  & .icon {
    position: relative;
    top: 4px;
    left: -15px;
    font-size: 2.1rem;
  }
}
.redBtn {
  background-color: $white;
  border-color: $red;
  color: $red;

  @media (hover: hover) {
    &:hover {
      background-color: $red;
      color: $white;
      transition: background-color 0.2s ease, color 0.2s ease; /* анимация для цвета фона и текста */
    }
  }
}

.greenBtn {
  background-color: $green;
  color: $white;

  @media (hover: hover) {
    &:hover {
      background-color: $white;
      color: $green;
      transition: background-color 0.2s ease, color 0.2s ease; /* анимация для цвета фона и текста */
    }
  }
}
.greyBtn {
  background-color: $grey;
  border-color: $greyText;
  color: $greyText;

  @media (hover: hover) {
    &:hover {
      background-color: rgba(158, 158, 158, 0.322);
      color: $greyText;
      transition: background-color 0.2s ease, color 0.2s ease; /* анимация для цвета фона и текста */
    }
  }
}
