@import "@/style/variables.module.scss";
@import "@/style/mixins.scss";

.title {
  position: relative;
  display: inline-block;
  margin-bottom: 0.5em;
  
  &Small {
    font-size: 1.4rem;
    line-height: 1.2;
  }

  &Medium {
    font-size: 1.6rem;
    margin-bottom: 1em;
  }

  &Cut {
    @include text-ellipsis(1);
  }
}
