@import "../../../style/variables.module.scss";
@import "../../../style/mixins.scss";
.listWrapper {
  .nav {
    display: flex;
    gap: 1px;
    margin-bottom: 4px;

    .navItem {
      height: 55px;
      background-color: $grey;
      color: $greyText;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 0.2s ease; 
      &:hover {
        background-color: $greyHover;
      }
    }

    .navActive {
      background-color: $greyHover;
      color: $blackText;
      &:hover {
        background-color: none;
      }
    }
  }
}

.main {
  display: flex;
  height: calc(100vh - 140px);
  overflow: hidden;
  position: relative;
  gap: 4px;

  &List {
    width: 40%;
    overflow-y: auto;
    max-height: 100%;
    border: 1px solid $grey;

    & > *:not(:last-child) {
      border-bottom: 1px solid $white;
    }

    &Item {
    }
  }

  &Container {
    width: 60%;
    overflow-y: auto;
    max-height: 100%;
    background-color: $grey;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    &Candidates {
      width: 100%;
      height: 100%;
      color: $greyText;
      padding: 5px;

      &Choose {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &Icon {
          position: relative;
          top: 0;
          left: -5px;
          font-size: 1.7rem;
          color: currentColor;
          animation: slideFromLeft 0.5s forwards; /* Продолжительность анимации 0.5 секунды */
        }
        &Text {
        }
      }
    }
  }
}

.section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.noAssignmnentsLink {
  color: $green;
  position: relative;

  @include animatedHover($greenHover)
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    left: 10px;
  }
  100% {
    transform: translateX(0);
    left: -5px;
    // opacity: 1;
  }
}
