@import "../../../style/variables.module.scss";
// @import "../../../style/variables.scss";

.mainWrapper {
  margin-bottom: 1.2rem; 
  width: 100%;
  .mainContainer {
    position: relative;

    .customInput {
      resize: none;
      border: 2px solid $line;
      border-radius: 10px;
      width: 100%;
      padding: 10px;

      &:focus {
        border-color: $green;
        outline: none;
      }
    }
    .redBorder {
      border: 2px solid $red;
    }
  }
}
