// @import "../../style/variables.module.scss";
@import "../../../style/variables.module.scss";
@import "../../../style/mixins.scss";


.assignmentWrapper {
  padding-top: 5px;
  width: 100%;
  border-bottom: 1px solid $line;
  position: relative;

  // background-color: transparent; /* Исходный фон */
  transition: background-color 0.1s ease;

  &:hover {
    background-color: $greyHover;
    .titleHover {
      color: $greyText;
    }

    .shotrInfo {
      color: $green;
    }
  }

  .candidates {
    position: absolute;
    top: 10px;
    right: 16px;
    width: 40px;
    border-radius: 100%;
    /* border: 2px solid #108a0040; */
    background-color: $grey;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $greyText;
    line-height: normal;
  }

  .container {
    padding: 1.5rem;

    .posted {
      display: block;
      font-size: $textSmall;
      color: $greyText;
      margin-bottom: 0.5em;
    }

    .description {
      font-size: $textMedium;
      margin-bottom: 1.5em;
      @include text-ellipsis(1);
    }
  }
}

.isActiveClass {
  position: relative;
  background-color: $grey;
  animation: expandPadding 0.2s forwards;

  &:hover {
    background-color: $grey;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    // width: 15px;
    background-color: $line;
    animation: expandWidth 0.2s forwards;
  }
}

@keyframes expandWidth {
  from {
    width: 0px;
  }
  to {
    width: 12px;
  }
}
@keyframes expandPadding {
  from {
    padding-left: 0px;
  }
  to {
    padding-left: 12px;
  }
}

// @keyframes collapsePadding {
//   from {
//     padding-left: 12px;
//   }
//   to {
//     padding-left: 0px;
//   }
// }

// @keyframes collapseWidth {
//   from {
//     width: 12px;
//   }
//   to {
//     width: 0px;
//   }
// }
