
@import '../../../../style/variables.module.scss';

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.myAssignmentsLink { 
  padding: 5px;
  color: $green;
  font-size: $textSmall;
  // margin-top: 10px;
  border-bottom: 1px solid $green;
  &:hover {
    border-bottom: 1px solid rgba(0, 128, 0, 0.112);
  }
}
