@import "../../../../style/variables.module.scss";

.footerSocial {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  position: relative;
  margin-bottom: 25px;
  font-size: $textSmall;

  &Icon {
    font-size: 1.7rem;

    transition: color 0.3s ease;

    &:hover {
      color: $greyHover;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 105%;
    height: 1px; /* Высота линии */
    background-color: $white; /* Цвет линии */
  }
}
