@import "@/style/variables.module.scss";

.agreeWrapper {
  //   border: 1px solid red;
  display: flex;
  font-size: 0.8rem;
  margin-bottom: 35px;
  width: 100%;
  flex-direction: column;
  position: relative;

  .checkboxAndText {
    display: flex;
    cursor: pointer;
    align-items: baseline;
    position: relative;
    gap: 5px;
    text-align: center;

    input[type="checkbox"] {
      margin: 0;
      position: relative;
      top: 5px;
      width: 20px;
      height: 20px;
    }
    .link {
&:hover {
  text-decoration: underline ;
  // color: rgb(143, 143, 255);
}
    }
  }

  .agreeError {
    color: $red;
    width: 100%;
    position: absolute;
    top: 38px;
  }
}
