@import '@/style/variables.module.scss';


.mainWrapper {
  display: flex;
  .assignmentWrapper {
    flex-grow: 1;
  }
  .profileWrapper {
    display: flex;
    flex-direction: column;
    min-width: 35vw;
    .authorHeader {
      padding: 20px 10px;
      font-size: 1.2rem;
      text-align: center;
      text-transform: uppercase;
      background-color: $red;
    }
    padding: 0 10px;
    max-width: 40vw;
    // border: 1px solid green;
  }
}
