@import "../../style/variables.module.scss";
@import "../../style/mixins.scss";
.header {
  transition: background-color 0.2s ease;
  &:hover {
    background-color: $greyHover;
  }
}

.candidateLink {
  display: inline-block;
  color: $green;
  text-align: center;
  font-size: $textMedium;
  position: relative;
  padding: 0;
  padding: 3px 5px;

  @include animatedHover($greenHover);
}
