@import "@/style/variables.module.scss";


.listWrapper {
  background-color: $grey;
  padding: 10px;

  

  .list {
    .itemWrapper {
      display: flex;
      justify-content: space-between;
      background-color: $white;
      font-size: $textMedium;
      align-items: center;

      .candidateWrapper {
        display: flex;
        flex-direction: column;
        padding: 10px;

        .name {
        }
        .date {
          font-size: 12px;
        }
      }
      .btn {
      }
    }
  }
  .noCandidates {
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 0.9rem;
  }
}


