@import "../../../../style/variables.module.scss";

.info {
  font-size: $textMedium;
  color: $greyText;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  // gap: 45px;

  @media screen and (max-width: $sizeMB) {
    // flex-direction: column;
    gap: 12px;
  }

  &Item {
    display: flex;
    gap: 5px;

    &Icon {
      position: relative;
      top: 1px;
      left: 0;
      font-size: 1.1rem;
      // color: currentColor;
      fill: currentColor;

      &Arrow {
        position: relative;

        top: 4px;
        left: -1px;
      }
      &Worth {
      }
    }

    &Status {
      color: $green;
    }
  }
}
