

@mixin text-ellipsis($lineCount) {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word; 
  display: -webkit-box;
  -webkit-line-clamp: $lineCount;
  -webkit-box-orient: vertical;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin animatedHover($color) {
  &::after {
    content: "";
    position: absolute;
    width: 104%;
    height: 2px;
    background-color: $color;
    bottom: -1px;
    left: -2px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  &:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
  }

  transition: color 0.3s ease; 

  &:hover {
    color: $color;

  }
}