.mianWrapper {
  .container {
  }
}

.helloWorld {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}


.testBlock {
  height: 35px;
  width: 20px;
}


.btn {
  height: 35px;
  width:100px;
}