.item {
  height: 100%;
  border: .5em solid fuchsia;
  box-sizing: border-box;
  background: lightpink;
}
.absolute {
  position: absolute;
  width: 40%;
}
.fixed {
  position: fixed;
  margin-left: 5em;
}

.main {
  border: 1px solid;
  // width: 100%;
  position: relative;
  padding: 3rem;
}



.el {

  width: 100%;
  background-color: grey;
  height: 200px;
}