// @import "../../style/variables.module.scss";
@import "@/style/variables.module.scss";
@import "@/style/mixins.scss";

.assignmentWrapper {
  padding-top: 5px;
  width: 100%;
  border-bottom: 1px solid $line;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $grey;
    .titleHover {
      color: $greyText;
    }

    .shotrInfo {
      color: $green;
    }
  }

  .container {
    padding: 1.5rem;

    .posted {
      display: block;
      font-size: $textSmall;
      color: $greyText;
      margin-bottom: 0.5em;
    }

    .description {
      font-size: $textMedium;
      margin-bottom: 1.5em;
      @include text-ellipsis(1);
    }
  }
}
