@import "../../../style/variables.module.scss";

.mainWrapper {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-width: 450px;

    .titleAndDescription {
      padding-top: 20px;
      text-align: center;
      p {
        color: $greyText;
        font-size: $textSmall;
      }
    }

    .formEl {
      width: 100%;
      .inputsWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;

        .btnWrapper {
          display: flex;
          justify-content: center;
          padding-top: 20px;
        }
        .disabledBtn {
          color: $grey;
          &:hover {
            color: $greyHover;
          }
        }
      }
    }
  }
}
