@import "@/style/variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 1px solid $line;

  .main {
    border-bottom: 1px solid $line;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    align-items: center;
    gap: 15px;
    // background-color: azure;

    &Photo {
      height: 100px;
      width: 100px;
      position: relative;
      // border: 2px solid;
      border-radius: 50%;

      &Img {
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &Params {
      display: flex;
      flex-direction: column;
      &Title {
        font-size: $textSmall;
        color: $greyText;
      }
    }
  }
}

.langs {
  display: flex;
  padding: 1rem 0;
  flex-wrap: wrap;

  @media screen and (max-width: $sizeMB) {
    flex-direction: column;
    padding: 1rem;
  }

  &Item {
    flex: 1;
    padding: 0 2rem;
    &:first-child {
      flex: 2;
      position: relative;
      border-right: 1px solid $line;
      @media screen and (max-width: $sizeMB) {
        border-right: none;
        // border-bottom: 1px solid $line;
      }
    }
    @media screen and (max-width: $sizeMB) {
      padding: 0.5rem;

    }
  }

  &Title {
    text-transform: capitalize;
    color: $greyText;
    display: block;
    margin-bottom: 1rem;
    // font-size: $textMedium;
  }
}
