@import "../../style/variables.module.scss";

.noAssignmnents {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: $greyText;

  &Icon {
    animation: moveSmiley 0.7s forwards;
    font-size: 2rem;
    path {
      fill: currentColor;
    }
  }

  &Text {
  }

  &Link {
    position: relative;
    font-size: 1.1rem;
    color:$green;
    transition: color 0.2s ease; 
    &:hover {
        color: $greenHover;
    }
  }
}

.noAssignmnentsLink::after {
  content: "";
  position: absolute;
  width: 107%;
  height: 2px;
  background-color: $greenHover;
  bottom: -1px;
  left: -4px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.noAssignmnentsLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes moveSmiley {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
