@import "../../../style/variables.module.scss";

.container {
  display: flex;
  padding: 10px;
  width: 100%;
  // justify-content: space-between;
  gap: 30px;
  align-items: flex-end;

  // &:hover {
  //   background-color: $greyHover;
  // }
}

.head {
  display: flex;
  flex-direction: column;

  &Name {
    font-size: $textMedium;
  }
  &Date {
    font-size: $textSmall;
    color: $greyText;
  }
}

.isExecutor {
  font-size: $textSmall;
  color: $green;
}
