@import "../../../style/variables.module.scss";
// @import "@/style/variables.module.scss";

.mainWrapper {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-width: 450px;
    margin-bottom: 1rem;

    .titleAndDescription {
      padding: 20px 0 0 5px;
      text-align: center;
      text-transform: uppercase;

      p {
        color: $greyText;
        font-size: $textSmall;
      }
    }
    .formEl {
      width: 100%;
      .inputsWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;

        .btnWrapper {
          display: flex;
          justify-content: center;
          padding-top: 20px;
          width: 100%;

          &Btn {
            width: 50%;
          }
        }
        .disabledBtn {
          color: rgba(208, 208, 208, 0.761);
          &:hover {
            color: rgba(208, 208, 208, 0.761);
          }
        }
      }
    }
    .or {
      text-align: center;
      color: $greyText;
      margin-bottom: 20px;
    }
    .socialsBtns {
      margin-bottom: 20px;
    }

    .alreadyHaveAccoutn {
      text-align: center;
      text-decoration: none;
      color: $green;
    }
  }
}
