@import "../../../style/variables.module.scss";

.profileWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;

    .profileContainer {
      // width: 90vw; //assign Page!
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .photoAndName {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 25px;
        align-items: center;
        width: 55px;
        min-height: 55px;
        gap: 15px;

        .photo {
          height: 100px;
          width: 100px;
          position: relative;
          border: 2px solid;
          border-radius: 50%;

          .userImg {
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .userName {
          font-size: 0.7rem;
        }
      }

      .info {
        display: flex;
        flex-wrap: wrap;
        background-color: $grey;
        font-size: 1.2rem;
        font-weight: 100;
        justify-content: center;
        // > *:not(:last-child) {
        //   // border-right: 1px solid $bcSix;
        // }
      }
    }

    .aboutMe {
      background-color: $blackText;
      padding: 20px;
      width: 100%;
      text-align: center;
    }
  }
}

.innerBlockWrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}
