@import "../../../style/variables.module.scss";

.profileWrapper {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;

    .photoAndName {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 25px;
      align-items: center;
      width: 55px;
      min-height: 55px;
      gap: 15px;

      .photo {
        height: 100px;
        width: 100px;
        position: relative;
        border: 2px solid;
        border-radius: 50%;

        .userImg {
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .userName {
        font-size: 0.7rem;
      }
    }
  }
}
